@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Open+Sans&display=swap');

ion-content.welcome-page {
  --background: none;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.85)),
              url('/assets/icon/ImagenFondoHome.jpg') no-repeat center center / cover;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

.overlay {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 30px 20px;
  position: relative;
  z-index: 1;
}

.intro-text .pretitle {
  color: #203E98;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 10px;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
}

.title h1 {
 
  font-weight: bold;
  font-size: 2.4rem;
  text-align: center;
  padding-top: -100px;
  color: #fff;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  line-height: 1.2;
  margin: 0 0 8px 0;
}

.subtitle {
  font-size: 1.1rem;
  text-align: center;
  color: #FCD34D;
  margin-bottom: 16px;
  font-weight: 600;
  font-weight: bold;
}

.logo-bottom {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto 10px;
}

.logo-bottom img {
  width: 200px; /* más grande */
  border-radius: 12px;
  margin: 70px;
  border: 2px solid #facc15;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.motto {
  text-align: center;
  color: #d1d5db;
  font-style: italic;
  font-size: 1rem;
  animation: fadeIn 2s ease-out;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
  margin-top: 60px;
}

ion-button {
  height: 60px;
  --border-radius: 200px;
  text-transform: none;
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff; /* texto blanco */
  box-shadow: none; /* quitar sombra */
}

ion-button ion-icon {
  font-size: 1.6rem;
  margin-right: 12px;
  color: #fff; /* icono blanco */
  transition: none; /* quitar animación */
}

.btn-iniciar {
  --background: #E71C26;
  text-shadow: none; /* quitar sombra texto */
  box-shadow: none;
  border-radius: 200px;
}

.btn-iniciar:hover {
  transform: scale(1.05);
  box-shadow: none;
}

.btn-iniciar:hover ion-icon {
  transform: none;
}

.btn-registrar {
  --background: #E71C26;
  text-shadow: none;
  box-shadow: none;
}

.btn-registrar:hover {
  transform: scale(1.05);
  box-shadow: none;
}

.btn-registrar:hover ion-icon {
  transform: none;
}

ion-button:active {
  transform: scale(0.95);
  box-shadow: none;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
