<ion-content fullscreen class="welcome-page">

  <div class="overlay">

    <div class="logo-bottom">
      <img src="assets/images/LogoColegio.jpeg" alt="Logo IE" />
    </div>

    <div class="title">
      <h1>Institución Educativa<br>2005 Retablo</h1>
      <p class="subtitle">¡Juntos construimos el futuro!</p>
    </div>

    <div class="buttons">
      <!-- PADRE -->
      <ion-button class="btn-iniciar" expand="block" (click)="irALogin('padre')">
        <ion-icon name="school-outline"></ion-icon>
        &nbsp;INICIAR SESIÓN / PADRE
      </ion-button>

      <!-- DIRECTOR -->
      <ion-button class="btn-registrar" expand="block" (click)="irALogin('director')">
        <ion-icon name="briefcase-outline"></ion-icon>
        &nbsp;INICIAR SESIÓN / DIRECTOR
      </ion-button>
    </div>

  </div>
</ion-content>